.carousel {
    position: relative;
    width: 100%;
    overflow-x: scroll;
    display: flex;
    padding: 20px 0;
  }
  
  .cards {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
  