.carouselContainer {
  width: 100%;
  overflow-x: hidden;
}

.carousel {
  display: flex;
  flex-wrap: wrap; /* Permite que las tarjetas se ajusten en varias filas */
  gap: 2%;
  padding: 1%;
  box-sizing: border-box;
  justify-content: center; /* Centra las tarjetas dentro del contenedor */
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* Permite que las tarjetas se ajusten en varias filas */
}

.carousel-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2%;
  overflow: hidden;
}

.carousel-item {
  padding: 0 1.5%;
  box-sizing: border-box;
}

.card {
  margin: 20px 1% 20px 1%; /* Agrega espacio arriba y abajo de las cartas */
  width: calc(20% - 2%); /* Ajusta el ancho para permitir el espacio de margen */
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1%;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  flex-shrink: 0;
}

.card::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 5px;
  background: rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.foodPhoto {
  position: relative;
  margin-bottom: 10px;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.bookmarkIcon {
  position: absolute;
  bottom: 10px;
  right: 5px;
  width: 4vw;
  height: 4vw;
}

.titleButton {
  margin-top: 5px;
  text-align: center;
}

.ensaladaCsar {
  margin: 0;
  font-size: 1.8vw;
  font-weight: bold;
  color: #333;
}

.rating {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #FFE1B3;
  padding: 5px 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  font-size: 1.4vw;
  color: white;
}

.starIcon {
  width: 1vw;
  height: auto;
}

.text {
  margin-left: 4px;
  font-size: 1.2vw;
  color: black;
}

.time {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.tiempo {
  font-weight: bold;
  color: #666;
}

.mins {
  font-weight: normal;
  color: #333;
}

.time1, .time2, .time3 {
  text-align: center;
  font-size: 1.2vw;
}

.time1 p, .time2 p, .time3 p {
  margin: 2px 0;
}

.bookmarkButton {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.bookmarkIcon {
  transition: filter 0.3s ease;
}

.bookmarkIcon.bookmarked {
  filter: brightness(1.5);
}
