@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.body {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.card {
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  width: 350x; /* Ajusta el ancho de la tarjeta según tu diseño */
  border: 1pxp solid #ddd;
  border-radius: 10px;
  padding: 20px; /* Aumenta el padding para un mejor diseño */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  background-color: #fff;
  margin: 10px;
  transition: width 0.3s ease; /* Transición para suavizar el cambio de ancho */
  flex-shrink: 0;
}

@media (max-width: 600px) {
  .card {
    width: 233px; /* Ajusta el ancho de la tarjeta proporcionalmente */
    padding: 13px; /* Reduce el padding proporcionalmente */
  }

  .foodImage {
    width: 99px; /* Tamaño de la imagen proporcional */
    height: 99px; /* Tamaño de la imagen proporcional */
  }

  .name {
    font-size: 14px; /* Reduce el tamaño de la fuente proporcionalmente */
  }

  .info {
    font-size: 10px; /* Reduce el tamaño de la fuente proporcionalmente */
  }

  .bookmark {
    width: 30px; /* Tamaño del bookmark proporcional */
  }

  .userImage {
    width: 26px; /* Tamaño de la imagen de usuario proporcional */
    height: 26px; /* Tamaño de la imagen de usuario proporcional */
  }
}

.name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-right: auto; /* Alinea el texto del nombre a la izquierda */
}

.foodImage {
  position: absolute;
  top: 10px; /* Ajusta la posición vertical de la imagen */
  right: 10px; /* Ajusta la posición horizontal de la imagen */
  border-radius: 20%;
  width: 100px; /* Tamaño de la imagen */
  height: 100px; /* Tamaño de la imagen */
  object-fit: cover; /* Asegura que la imagen mantenga su proporción */
}

.details {
  display: flex;
  align-items: center;
  margin-top: 80px; 
  margin-bottom: 25px; /* Ajusta la distancia entre la imagen y los detalles */
  flex-wrap: wrap; /* Permite que los detalles se ajusten en una nueva línea si es necesario */
  padding: 10px;
}

.info {
  font-size: 12px;
  margin-right: 10px;
  text-align: center;
}

.user {
  font-size: 14px;
  color: #666;
  margin-top: 10px;
}

.bookmark {
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  width: 30px;
  height: auto;
}

.text {
  margin-left: 4px;
  font-size: 12px;
  color: black;
}

.time {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.tiempo {
  font-weight: bold;
  color: #666;
  font-size: 15px;
}

.mins {
  font-weight: normal;
  color: #333;
}

.time1, .time2, .time3 {
  text-align: center;
  font-size: 12px;
}

.time1 p, .time2 p, .time3 p {
  margin: 2px 0;
}

.userImage {
  position: absolute;
  bottom: 10px; 
  left: 100px; 
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
