@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.body{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;

}
.carousel {
  display: flex;
  scroll-behavior: smooth;
  padding: 10px;
  gap: 20px;
  flex-direction: row; 
  overflow-x: scroll; 
  -webkit-overflow-scrolling: touch; 
  overflow-x: hidden;
}

.carousel-container {
  width: 100%; 
  overflow-x: hidden; 
}
.carousel-inner {
  display: flex;
  justify-content: center; 
  overflow: hidden; 
}
.carousel-item {
  display: flex;
  justify-content: center;
  padding: 0 15px; 
  overflow-x: hidden;
}
.card {
  margin: 0 10px; 
  max-width: 100%; 
  overflow-x: hidden;
}

.card {
  width: 200px; 
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  text-align: center;
  position: relative;
  background-color: #fff;
  flex-shrink: 0; 
}

.foodPhoto {
  position: relative;
  margin-bottom: 10px;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}




.bookmarkIcon {
  position: absolute;
  bottom: 10px; 
  right: 5px; 
  width: 30%;
  height: auto;
}

.titleButton {
  margin-top: 5px; 
  text-align: center;
}

.ensaladaCsar {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.rating {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #FFE1B3; 
  padding: 5px 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: white;
}

.starIcon {
  width: 10px;
  height: auto;
}

.text {
  margin-left: 4px;
  font-size: 12px;
  color: black;
}

.time {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.tiempo {
  font-weight: bold;
  color: #666;
}

.mins {
  font-weight: normal;
  color: #333;
}

.time1, .time2, .time3 {
  text-align: center;
  font-size: 12px;
}

.time1 p, .time2 p, .time3 p {
  margin: 2px 0;
}

.bookmarkButton {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.bookmarkIcon {
  transition: filter 0.3s ease;
}


.bookmarkIcon.bookmarked {
  filter: brightness(1.5); 
}