/* styles.module.css */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.body {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.carouselContainer {
  width: 100%;
  overflow-x: auto; /* Permite desplazamiento horizontal si las tarjetas no caben en la pantalla */
  margin-top: 20px;
}

.carouselTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  padding-left: 10px;
}

.cards {
  display: flex;
  flex-wrap: nowrap; /* Asegura que las tarjetas no envuelvan */
  overflow-x: auto; /* Permite desplazamiento horizontal si las tarjetas no caben en el contenedor */
}

.card {
  flex: 0 0 auto; /* Permite que las tarjetas se ajusten al contenido */
  margin-right: 10px; /* Espacio entre las tarjetas */
}

