.container {
    height: calc(100vh - 130px); /* Restar la altura de la navbar */
    overflow-y: auto; /* Habilitar scroll vertical */
    padding: 20px; /* Opcional, según el diseño */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar horizontalmente */
     /* Centrar verticalmente */
}
.title{
    font-size: 24px;
    font-family: 'Poppins', sans-serif; 
    font-weight: 600; 
}