.profileContainer {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 20px;
}

.profileImage {
  border-radius: 50%;
  border: 2px solid #ccc;
}

.userName {
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
}

.description {
  margin-top: 20px;
  font-size: 16px;
}

.moreButton {
  background-color: #60ac3a;
  color: white;
  border: none;
  padding: 8px 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.moreButton:hover {
  background-color: #60ac3a;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.tabButton {
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border: none;
  background-color: #f0f0f0;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.tabButton:hover {
  background-color: #ddd;
}

.activeTab {
  background-color: #60ac3a;
  color: white;
}

.tabContent {
  margin-top: 20px;
}

.addButton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #60ac3a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.addButton:hover {
  background-color: #60ac3a;
}

.recetasContainer {
  max-height: 400px;
  overflow-y: scroll;
  padding: 10px;
}

.recetasScroll {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 10px;
}

.recetaCard {
  width: calc(100% - 8px);
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.recetaCard h3 {
  margin: 0;
  font-size: 18px;
}

.recetaCard p {
  margin: 5px 0;
  font-size: 14px;
}

.menuButton {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
  padding: 5px;
}

.dropdownMenu {
  position: absolute;
  top: 50px;
  right: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.menuItem {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #fff;
  border: none;
  width: 100%;
  text-align: left;
}

.menuItem:hover {
  background-color: #f0f0f0;
}

.buttonContainer {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 8px;
}

.buttonBackground {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  z-index: -1;
}

.editButton,
.deleteButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.recetaTitulo {
  cursor: pointer;
  color: rgb(36, 175, 36);
}

.recetaImagen {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.calendar {
}

.eventList {
  text-align: center;
  overflow-y: scroll;
  max-height: 100px;
  min-width: 300px;
  border: 1px solid #60ac3a;
  border-radius: 8px;
  padding: 10px;
  background: #f9f9f9;
  margin-bottom: 12%;
}

.eventList ul {
  margin: auto;
  padding: 0;
}

.eventItem {
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.eventItem h3 {
  margin: 0;
  color: #60ac3a;
}

.eventItem p {
  margin: 5px 0;
  color: #666;
}

.eventDate,
.eventDuration {
  margin: 5px 0;
  color: #666;
  font-style: italic;
}

.eventTitle {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333; /* Un color oscuro para destacar el título */
  margin-bottom: 4px; /* Espacio debajo del título */
  display: block; /* Asegura que ocupe toda la línea */
}

.eventDescription {
  font-size: 1rem;
  font-weight: normal;
  color: #666; /* Un color más claro para dar contraste con el título */
  line-height: 1.5; /* Espaciado para mejorar la legibilidad */
}
