.counterContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .counterButton {
    background-color: #60ac3a;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .counterButton:hover {
    background-color: #4f9a2a;
  }
  
  .counterValue {
    margin: 0 10px;
    font-size: 20px;
  }