.carouselContainer {
  width: 100%; 
  overflow-x: hidden; 
}

.carousel {
  display: flex;
 
  padding: 1%;
  gap: 2%;
  flex-direction: row;
  overflow-x: scroll;
  
}



.cards {
  display: flex;
  flex-direction: row;
}

.carousel-inner {
  display: flex;
  justify-content: center; 
  overflow: hidden; 
}

.carousel-item {
  display: flex;
  justify-content: center;
  padding: 0 1.5%;
}

.card {
  margin: 0 1%;
  width: 20vw; 
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1%;
  text-align: center;
  position: relative;
  background-color: #fff;
  flex-shrink: 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Sombras originales */
}

.card::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px; /* Ajusta este valor para controlar la distancia de la sombra */
  width: 100%;
  height: 5px; /* Ajusta este valor para controlar el tamaño de la sombra */
  background: rgba(0, 0, 0, 0.1); /* Color y opacidad de la sombra */
  z-index: 1; /* Asegura que esté por encima del contenido de la tarjeta */
}


.foodPhoto {
  position: relative;
  margin-bottom: 10px;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.bookmarkIcon {
  position: absolute;
  bottom: 10px; 
  right: 5px; 
  width: 4vw;
  height: 4vw;
}

.titleButton {
  margin-top: 5px; 
  text-align: center;
}

.ensaladaCsar {
  margin: 0;
  font-size: 1.8vw;
  font-weight: bold;
  color: #333;
}

.rating {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #FFE1B3; 
  padding: 5px 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  font-size: 1.4vw;
  color: white;
}

.starIcon {
  width: 1vw;
  height: auto;
}

.text {
  margin-left: 4px;
  font-size: 1.2vw;
  color: black;
}

.time {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.tiempo {
  font-weight: bold;
  color: #666;
}

.mins {
  font-weight: normal;
  color: #333;
}

.time1, .time2, .time3 {
  text-align: center;
  font-size: 10px;
  margin: 0 2px;
}

.time1 p, .time2 p, .time3 p {
  margin: 1px 0;
  font-size: 10px;
}

.bookmarkButton {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.bookmarkIcon {
  transition: filter 0.3s ease;
}

.bookmarkIcon.bookmarked {
  filter: brightness(1.5); 
}

.tiempo, .mins, .kcal {
  font-size: 10px;
  line-height: 1.2;
  color: #555;
}
