.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; /* Para asegurarse de que esté encima de otros elementos */
  }
  
  .modal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .modalActions {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  .textoModal {
    margin-bottom: 10px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: var(--text-style-large-text-bold-font-family, 'Poppins');
    font-weight: var(--text-style-large-text-bold-font-weight, 600);
    font-size: var(--text-style-large-text-bold-font-size, 20px);
    color: var(--black, #000000);
  }
  .descripcionModal {
    margin: 0 5.1px 10px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: var(--text-style-smaller-text-regular-font-family, 'Poppins');
    font-weight: var(--text-style-smaller-text-regular-font-weight, 400);
    font-size: var(--text-style-smaller-text-regular-font-size, 11px);
    color: var(--colour-styles-neutral-colourgray-2, #797979);
  }
  .botonModal {
    flex: 0 0 auto;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    margin:10px;
    color: #60AC3A;
    font-size: 18px; 
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    transition: background-color 0.3s, color 0.3s; /* Transición suave */
  }
  
  .botonModal:hover,
  .botonModal:active,
  .botonModal.active {
    background-color: #60AC3A;
    color: white;
  }
  .star{
    font-size: 40px;
    color: white; /* Color del texto */
    text-shadow:
      -1px -1px 0 gold, /* Sombra hacia arriba izquierda */
       1px -1px 0 gold, /* Sombra hacia arriba derecha */
      -1px  1px 0 gold, /* Sombra hacia abajo izquierda */
       1px  1px 0 gold; /* Sombra hacia abajo derecha */
  }
  .star:hover,
  .star:active{
    color: gold;
  }