/* Los estilos para el modal son los mismos que antes */

.ingredientsSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 16px;
    color: #333;
    font-family: 'Poppins', sans-serif;
  }
  
  .chooseIngredients {
    text-align: left;
  }
  
  .arrow {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
  }
  
  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6); /* Fondo oscuro semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asegura que el modal esté por encima de otros elementos */
  }
  
  .modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 500px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  
  
  .h2 {
    margin-bottom: 10px;
  }
  
  .p {
    font-size: 14px;
    color: #555;
  }
  .ingredientecontainer{
    overflow-y: auto;
    max-height: 400px;
  }
  .ingrediente {
    border-radius: 12px;
    background: #FFFFFF;
 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 7.5px 20px 7.5px 20px;
    box-sizing: border-box;
    margin-bottom: 10px; /* Añadido para espacio entre los elementos */
    border: 2px solid #e0e0e0; /* Aquí se agrega el borde */
  }
  
  
  .ingrediente .container1 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  
  .ingrediente .texto {
    margin: 22.8px 0 23px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #121212;
  }
  
  .ingrediente .image {
    border-radius: 10px;
    background: #FFFFFF;
    position: relative;
    margin-right: 20.1px;
    display: flex;
    padding: 8.1px 8px;
    width: 69.8px;
    height: 69.8px;
    box-sizing: border-box;
  }
  
  .ingrediente .maskGroup {
    border-radius: 10px;
    display: flex;
    width: 69.8px;
    height: 69.8px;
    box-sizing: border-box;
  }
  
  .ingrediente .rectangle650 {
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    width: 53.7px;
    height: 53.7px;
  }
  
  .ingrediente .unidad {
    margin: 26.9px 0 27.9px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #959595;
  }