/* styles.module.css */

.carouselContainer {
  width: 100%; 
  overflow-x: hidden; 
}

.carousel {
  display: flex;
  scroll-behavior: smooth;
  padding: 10px;
  gap: 20px;
  flex-direction: row; 
  overflow-x: scroll; 
  -webkit-overflow-scrolling: touch; 
}

.cards {
  display: flex;
  flex-direction: row;
}


