.editProfileContainer {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.backButton {
  display: flex;
  align-items: center;
  font-size: 1rem;
  background: none;
  border: none;
  color: #4f9a2a;
  cursor: pointer;
  margin-bottom: 20px;
  transition: color 0.3s;
}

.backButton:hover {
  color: #60ac3a;
}

.title {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #4f9a2a;
}

.field {
  margin-bottom: 15px;
}

.label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.input,
.textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: border-color 0.3s;
}

.input:focus,
.textarea:focus{
  border-color: #4f9a2a;
  outline: none;
}

.saveButton {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #4f9a2a;
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.saveButton:hover {
  background-color: #60ac3a;
}

/* Responsivo */
@media (max-width: 768px) {
  .editProfileContainer {
    padding: 15px;
  }

  .title {
    font-size: 1.5rem;
  }

  .input,
  .textarea {
    font-size: 0.9rem;
  }

  .saveButton {
    font-size: 0.9rem;
  }
}
