.switchContainer {
    /* estilos para el contenedor del switch */
  }
  
  .tabs {
    display: flex;
    justify-content: space-around;
  }
  
  .activeTab {
    font-weight: bold;
    border-bottom: 2px solid #000;
  }
  
  .content {
    margin-top: 1rem;
  }
  
  .ingredienteFoto {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  