@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');


.carouselContainer {
    width: 100%;
    overflow-x: hidden;
    padding: 10px;
  }
  
  .carousel {
    display: flex;
    scroll-behavior: smooth;
    gap: 10px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  
  .carousel::-webkit-scrollbar {
    display: none; 
  }
  
  .categoryButton {
    flex: 0 0 auto;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: transparent; 
    color: #60AC3A;
    font-size: 2,5vw;
    cursor: pointer;
    font-family: 'Poppins', sans-serif; 
  font-weight: 600; 
  }
  .categoryButton:hover,
  .categoryButton:active,
  .categoryButton.active {
    background-color: #60AC3A; 
    color: white; 
  }
  .categoryButton:hover {
    background-color: #60AC3A;
  }
  
